/* Цвет основного текста #2E2F42 */
/* Вторичный текст #434455 */
/* Белый #FFFFFF */
/* Акцент #4D5AE5 */
/* Вторичный цвет фона #F4F4FD */

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-white-color: #ffffff;
    --second-white-color: #F4F4FD;
    --link-animation-color: #434455;
    --button-animation-color: #404BBF;
    /* portfolio */
    --card-set-gorizontal-gap: 24px;
    --card-set-vertical-gap: 48px;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: "Roboto", sans-serif;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;

}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* Page Header */
.page-header {
    background-color: var(--second-white-color);
}

.border {
    background: var(--primary-white-color);
    border-bottom: transparent;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
}

/* Logo. WEBSTUDIO */
.logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.logo-footer {
    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}


.logo:hover, 
.logo:focus {
    color: var(--link-animation-color);
}

/* Site nav */

.flex-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 77px;
}

.site-nav .item + .item {
    margin-left: 40px;
}

.site-nav
.links {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current {
    color: var(--accent-color);
}

.item {
    position: relative;
}

.current::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 68px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-nav .links:active {
    color: var(--accent-color);
}

.site-nav .links:hover, 
.site-nav .links:focus {
    color: var(--link-animation-color);
}

/* Contacts */

.contacts {
    margin-left: auto;
    display: flex;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .item + .item {
    margin-left: 40px;
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero */

.hero {
    background-color: var(--title-text-color);
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
}

.overlay {
    max-width: 1440px;
    height: 603px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46,47,66, 0.7), rgba(46,47,66, 0.8)), url('../img/hero-bckg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 48px;
    color: var(--primary-white-color);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--accent-color);
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:active {
    background: var(--button-animation-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.hero-btn:focus,
.hero-btn:hover {
    background: var(--button-animation-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.centered {
    align-items: center;
}

/* Features */

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    } 

.features {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc( -1 * var(--card-set-gorizontal-gap));
}

.features .features-item {
    flex-basis: calc(100% / 4 - var(--card-set-gorizontal-gap));
    margin-left: var(--card-set-gorizontal-gap);
}

.features-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--second-white-color);
    margin-bottom: 8px;
    border-radius: 4px;
}

.features-icon {
    width: 64px;
    height: 64px;
}

.features .subtitle {
    margin-top: 0px;
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.desc {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Work */

.section-no-padding {
    padding-top: 0px;
}

.work {
    display: flex;
    justify-content: center;
}

.work .work-item + .work-item {
    margin-left: 24px;
}

.work-item {
    border: none;
}


/* Section */
.section-title {
    margin-top: 0px;
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}

/* Our team */

.about-team {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
}



.about-team .team-item {
    flex-basis: calc(100% / 4 - var(--card-set-gorizontal-gap));
    margin-left: var(--card-set-gorizontal-gap);
}


.staff-content {
    padding: 32px 16px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
}

.team-item:first-child {
    margin-left: 0px;
}

.team-item img {
    display: block;
}

.about-team .staff {
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.about-team .position {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-social-list {
    display: flex;
    justify-content: space-between;
}

.team-social-item {
    margin-left: 24px;
}

.team-social-item:first-child {
    margin-left: 0px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: var(--accent-color);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-icon {
    height: 16px;
    width: 16px;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--button-animation-color);
}

.bckg {
    background-color: var(--second-white-color);
}


/* ===========Customers========= */

.customers-list {
    display: flex;
    justify-content: center;
}

.customers-item {
    width: 168px;
    height: 88px;
    margin-left: 24px;
}

.customers-item:first-child {
    margin-left: 0px;
}

.customers-icon {
    width: 104px;
    height: 56px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 16px 32px;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.customers-icon {
    fill: currentColor;
}


.customers-title {
    margin-top: 0px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Footer */

.footer-container {
    display: flex;
}

.footer-list {
    display: flex;
}

.footer-social-item {
    margin-left: 24px;
    height: 40px;
    width: 40px;
}

.footer-social-item:first-child {
    margin-left: 0px;
}

.footer-social-link {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    height: 16px;
    width: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background: #31D0AA;
}

.footer-social-icon {
    fill: currentColor;
}
/* ///////// */

.footer-about {
    margin-right: 120px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
    display: flex;
}

.footer-text {
    width: 264px;
    margin-top: 16px;
    margin-bottom: 0px;
    color: #E7E9FC;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.footer-title {
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}



/* ------------------------------------------- */
/* ---------------Portfolio------------------- */
/* ------------------------------------------- */

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-nav {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}

.nav-item {
    margin-left: 24px;
}

.nav-item:first-child {
    margin-left: 0px;
}

.portf-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    padding: 12px 24px;
    background: var(--second-white-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portf-btn:focus,
.portf-btn:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-white-color);
    border: 1px solid var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* portfolio item */

.portfolio {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portf-item {
    flex-basis: calc(100% / 3 - var(--card-set-gorizontal-gap));
    margin-left: var(--card-set-gorizontal-gap);
    margin-top: var(--card-set-vertical-gap);
}

.portf-item img {
    display: block;
}

.portf-item:nth-child(-n + 3) {
    margin-top: 0px;
}

.portf-item:nth-child(3n + 1) {
    margin-left: 0px;
}

.card-title {
    margin-top: 0px;
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-title:hover,
.card-title:focus {
    color: var(--link-animation-color);
}

.card-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text:active,
.card-text:focus {
    color: var(--link-animation-color);
}

.card-content {
    padding: 32px 16px;
    border: 0.5px solid var(--second-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portf-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-link:hover,
.portf-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* =====OVERLAY===== */

.portf-overlay {
    position: relative;
    overflow: hidden;
}

.portf-link:hover .overlay-thumb {
    transform: translateY(0);
}

.portf-link:focus .overlay-thumb {
    transform: translateY(0);
}

.overlay-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 360px;
    height: 300px;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

/* ===Backdrop=== */

.backdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -45%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 576px;
    min-width: 408px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -45%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    color: #000000;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    color: var(--primary-white-color);
}

.modal-icon {
    width: 8px;
    height: 8px;
}

.modal-icon {
    fill: currentColor;
}

.modal-form-box {
    padding: 72px 24px 24px 24px ;
}

.modal-title {
    margin-top: 0px;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}

.form {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-form-input {
    height: 40px;
    width: 360px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-form-input:focus {
    border: 1px solid #4D5AE5;
}

.modal-form-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-textarea {
    width: 360px;
    height: 120px;
    padding-left: 16px;
    padding-top: 8px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.modal-button-send {
    display: block;
    margin: auto;
    margin-top: 24px;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-send:focus,
.modal-button-send:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-icons {
    position: relative;
}

.modal-svg-user {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-phone {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-mail {
    position: absolute;
    width: 15px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .modal-svg-user,
.modal-form-input:focus ~ .modal-svg-phone,
.modal-form-input:focus ~ .modal-svg-mail {
    fill: #4D5AE5;
}

.modal-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-checkbox:checked + .modal-icon-checkbox {
    background-color: #404BBF;
    background-image: url(../img/icon-agree.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-color: #404BBF; 
}

.modal-icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid black;
    border-radius: 2px;

}

.label-checkbox {
    display: flex;
}

.content-checkbox {
    margin: 0;
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.link-checkbox {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-checkbox:hover,
.link-checkbox:focus {
    color: #404BBF;
}

/* ---SUBSRIBE FORM--- */

.box-subscribe {
    margin-left: auto;
}

.subscribe-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-form {
    background-color: inherit;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form:focus {
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.subscribe-button {
    display: inline-flex;
    margin-left: 24px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: transparent;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    margin-left: 16px;
    width: 24px;
    height: 20px;
}

.subscribe-button:focus,
.subscribe-button:hover,
.subscribe-button:active {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}