/* Цвет основного текста #2E2F42 */
/* Вторичный текст #434455 */
/* Белый #FFFFFF */
/* Акцент #4D5AE5 */
/* Вторичный цвет фона #F4F4FD */

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-white-color: #ffffff;
    --second-white-color: #F4F4FD;
    --link-animation-color: #434455;
    --button-animation-color: #404BBF;
    /* portfolio */
    --card-set-gorizontal-gap: 24px;
    --card-set-vertical-gap: 48px;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: "Roboto", sans-serif;
}

img {
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
    }
  }

  @media screen and (max-width: 767px) {
    .site-nav {
        display: none;
      }

    .contacts {
        display: none;
    }
  }
  /* =====SECTION===== */
  /* MOBILE and TABLET section */
  @media screen and (max-width: 1199px) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
  }

  /* DESKTOP section */

  @media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
  }

/* ======MOBILE MENU====== */

  .mobile-burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-toggle {
    min-width: 40;
    min-height: 40;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  /* menu toggle hover focus */

  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: var(--primary-white-color);
    z-index: 100;
    overflow: auto;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color var(--transition-fast), border-color var(--transition-fast), fill var(--transition-fast);
}

.menu-toggle:active {
    background-color: var(--button-animation-color);
    fill: #E7E9FC;
}

  .mobile-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-links {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
  }

  .mobile-contacts-item:first-child {
    margin-bottom: 40px;
  }

  .mobile-contacts-item:nth-child(2){
    margin-bottom: 48px;
  }

  .mob-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
  }

  .mob-contacts-link.accent {
    font-weight: 600;
    font-size: 8vw;
    line-height: calc(40 / 36);
    text-transform: capitalize;
    letter-spacing: normal;

    color: var(--accent-color);
  }


  @media screen and (min-width:420px) {
    .mob-contacts-link.accent {
        font-size: 36px;
    }
  }

  .mobile-social {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
  }
  .mob-soc-item {
    width: 40px;
    height: 40px;
  }

  .mob-soc-icon {
    width: 24px;
    height: 24px;
  }

  .mob-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: var(--accent-color);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu .now-active {
    color: #404BBF;
  }

  @media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    .menu-container {
        display: none;
    }
  }


/* ============MOBILE screen Page Header========== */
.page-header {
    position: relative;
    background-color: var(--second-white-color);
    padding-top: 24px;
    padding-bottom: 24px;
}

.border {
    background: var(--primary-white-color);
    border-bottom: transparent;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
}

/* Logo. WEBSTUDIO */
.logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.logo:hover, 
.logo:focus {
    color: var(--link-animation-color);
}

/* ==========TABLET screen========== */

@media screen and (min-width: 768px) {
    .flex-nav {
        display: flex;
        align-items: center;
    }

    .site-nav {
        display: flex;
        margin-left: 120px;
    }

    .item:not(:first-child) {
        margin-left: 40px;
    }

    .links {
        display: block;
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        color: var(--accent-color);
    }

    .item {
        position: relative;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 58px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }

    .site-nav .links:active {
        color: var(--accent-color);
    }
    
    .site-nav .links:hover, 
    .site-nav .links:focus {
        color: var(--link-animation-color);
    }
    /* Contacts */

    .contacts {
        margin-left: auto;
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-item:not(:last-child) {
        margin-bottom: 4px;
    }

    .contacts:hover,
    .contacts:focus {
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
/* ===========DESCTOP screen CONTACTS ==========*/
@media screen and (min-width: 1200px) {
    .site-nav {
        margin-left: 77px;
    }
    .contacts {
        display: flex;
    }
    .contacts-item:not(:first-child) {
        margin-left: 40px;
    }
    .current::after {
        top: 46px;
    }
}

/* ==========MOBILE screen Hero========== */

.hero {
    background-color: var(--title-text-color);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.overlay {
    max-width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
    rgba(46,47,66, 0.7), 
    rgba(46,47,66, 0.8)), 
    url('../img/01_mobile/hero-bg-mobile.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), 
screen and (min-resolution: 192dpi) and (max-width: 767px), 
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .overlay {
        background-image: linear-gradient(to right,
        rgba(46,47,66, 0.7), 
        rgba(46,47,66, 0.8)), 
        url('../img/01_mobile/hero-bg-mobile@2x.jpg');
    }
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 72px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;

    color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
    .hero-title {
        text-transform: capitalize;
    }
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    border-radius: 4px;
    padding: 16px 32px;
    border: none;

    cursor: pointer;
}

.hero-btn:active {
    background: var(--button-animation-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.hero-btn:focus,
.hero-btn:hover {
    background: var(--button-animation-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

/* ==========TABLET screen Hero========== */

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 111px;
        padding-bottom: 108px;
    }
    .overlay {
        background-image: linear-gradient(to right, 
        rgba(46,47,66, 0.7), rgba(46,47,66, 0.8)), 
        url('../img/02_tablet/hero-bg-tablet.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .overlay {
            background-image: linear-gradient(to right, 
            rgba(46,47,66, 0.7), 
            rgba(46,47,66, 0.8)), 
            url('../img/02_tablet/hero-bg-tablet@2x.jpg');
        } 
    }
    .hero-title {
        margin-bottom: 40px;

        font-size: 56px;
        line-height: calc(60 / 56);
        letter-spacing: 0.02em;
    }
}

/* ===========DESKTOP screen Hero========== */

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 192px;
        padding-bottom: 192px;
    }
    .overlay {
        background-image: linear-gradient(to right, 
        rgba(46,47,66, 0.7), 
        rgba(46,47,66, 0.8)), 
        url('../img/03_desktop/hero-bg-desktop.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .overlay {
            background-image: linear-gradient(to right, 
            rgba(46,47,66, 0.7), 
            rgba(46,47,66, 0.8)), 
            url('../img/03_desktop/hero-bg-desktop@2x.jpg');
        } 
    }
    .hero-title {
        margin-bottom: 48px;
    }
}

/* ==========MOBILE screen Features========== */

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding: 0px;
    margin: 0px;
}

.features-subtitle {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);
}

@media screen and (max-width: 767px) {

    .features-item:not(:last-child) {
        margin-bottom: 72px;
    }
    .features-subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 1199px) {
    .features-icons {
        display: none;
    }
    .features-subtitle {
        text-transform: capitalize;
    }
}

.features-desc {
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

/* ==========TABLET screen Features========== */

@media screen and (min-width: 768px) {
    .features {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}
/* ==========DESKTOP screen Features========== */
@media screen and (min-width: 1200px) {
    .features-icon {
        width: 64px;
        height: 64px;
    }
    .features-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264;
        height: 112px;
        background-color: var(--second-white-color);
        margin-bottom: 8px;
        border-radius: 4px;
    }
    .features-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 / 20);
    }
    .features-desc {
        font-weight: 400;
    }
}

/* ======PHONE and TABLET screen: Work section unused===== */
@media screen and (max-width:1199px) {
    .section-no-padding {
        display: none;
    }
}

/* ==========DESKTOP screen: Work section========== */

.section-no-padding {
    padding-top: 0px;
} 

.work {
    display: flex;
}

.work-item:not(:first-child) {
    margin-left: 24px;
}

.work-title {
    margin-top: 0px;
    margin-bottom: 72px;
    
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;

    color: var(--title-text-color);
}

/* ==========MOBILE screen: OUR TEAM========== */

.about-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;

    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;

    text-align: center;
    text-transform: capitalize;

    color: var(--title-text-color);
}

.staff-content {
    padding: 32px 16px;
    box-shadow: 0px 1px 6px 
    rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px 
    rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    background: var(--primary-white-color);
}

.staff {
    margin-top: 0;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    text-align: center;
}

.position {
    margin-top: 0;
    margin-bottom: 8px;

    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);

    text-align: center;
}

.team-social-icon {
    width: 16px;
    height: 16px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-list {
    display: flex;
    justify-content: space-between;
}

.team-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--button-animation-color);
}

.bckg {
    background-color: var(--second-white-color);
} 

/* ==========TABLET and DESKTOP screen: Our Team========== */

@media screen and (min-width: 768px) {
    .about-team {
        row-gap: 64px;
        column-gap: 24px;
    }
}

/* ==========MOBILE screen Customers========== */

.customers-title {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);

    text-align: center;
    text-transform: capitalize;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

@media screen and (max-width: 767px) {
    .customers-item {
        flex-basis: calc((100% - 16px) / 2);
    }
    .customers-icon {
        width: 104px;
        height: 56px;
    }
}

.customers-link {
    display: flex;
    height: 88px;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.customers-icon {
    fill: currentColor;
}

/* ==========TABLET and DESCTOP CUSTOMERS screen========== */

@media screen and (min-width: 768px) {
    .customers-list{
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
    .customers-item {
        width: 168px;
        height: 88px;
    }
    .customers-icon {
        width: 104px;
        height: 56px;
    }

}

/* ==========MOBILE Footer screen========== */

@media screen and (max-width: 1199px) {
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .footer-text {
        margin-bottom: 72px;
    }
    .logo-footer {
        text-align: center;
    }
    
}

@media screen and (max-width: 767px) {
    .footer-title {
        text-align: center;
    }
    .footer-social {
        margin-bottom: 72px;
    }
    .subscribe-title {
        text-align: center;
    }
    .subscribe-form {
        width: 396px;
        margin-bottom: 16px;
    }
    .subscribe-button {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer {
    background-color: var(--title-text-color);
}

.footer-about {
    max-width: 264px;
}

.footer-container {
    display: flex;
}

.footer > .container {
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--second-white-color);  
}

.footer-text {
    margin-top: 16px;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    
    color: #E7E9FC;
}



.footer-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    
    color: var(--primary-white-color);
}

.footer-list {
    display: flex;
}

.footer-social-item {
    height: 40px;
    width: 40px;
}

.footer-social-item:not(:first-child) {
    margin-left: 16px;
}

.footer-social-icon {
    width: 24px;
    height: 24px;
}

.footer-social-link {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background: #31D0AA;
}

.footer-social-icon {
    fill: currentColor;
} 

.logo-footer {
    display: block;
    
    color: var(--primary-white-color);
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}

.subscribe-title {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);  
    letter-spacing: 0.02em;
    
    color: var(--primary-white-color);
}

.subscribe-icon {
    margin-left: 16px;
    width: 24px;
    height: 20px;
}

.subscribe-form {
    padding-left: 16px;
    background-color: inherit;
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width:425px) {
    .subscribe-form {
        width: 285px;
    }
}

.subscribe-form:focus {
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.subscribe-button {
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    align-items: center;
    border-radius: 4px;
    border-color: transparent;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:focus,
.subscribe-button:hover,
.subscribe-button:active {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

/* ==========TABLET, DESCTOP screen FOOTER ==========*/

@media screen and (min-width: 768px) {
    .subscribe-button {
        display: inline-flex;
        margin-left: 24px;
    }
    .subscribe-form {
        width: 264px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer > .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 584px;
    }
    .footer-social {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .footer > .container {
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}

/* ------------------------------------------- */
/* ---------------Portfolio------------------- */
/* ------------------------------------------- */

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-nav {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}

.nav-item {
    margin-left: 24px;
}

.nav-item:first-child {
    margin-left: 0px;
}

.portf-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    padding: 12px 24px;
    background: var(--second-white-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portf-btn:focus,
.portf-btn:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-white-color);
    border: 1px solid var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* portfolio item */

.portfolio {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portf-item {
    flex-basis: calc(100% / 3 - var(--card-set-gorizontal-gap));
    margin-left: var(--card-set-gorizontal-gap);
    margin-top: var(--card-set-vertical-gap);
}

.portf-item img {
    display: block;
}

.portf-item:nth-child(-n + 3) {
    margin-top: 0px;
}

.portf-item:nth-child(3n + 1) {
    margin-left: 0px;
}

.card-title {
    margin-top: 0px;
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-title:hover,
.card-title:focus {
    color: var(--link-animation-color);
}

.card-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text:active,
.card-text:focus {
    color: var(--link-animation-color);
}

.card-content {
    padding: 32px 16px;
    border: 0.5px solid var(--second-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portf-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-link:hover,
.portf-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* =====OVERLAY===== */

.portf-overlay {
    position: relative;
    overflow: hidden;
}

.portf-link:hover .overlay-thumb {
    transform: translateY(0);
}

.portf-link:focus .overlay-thumb {
    transform: translateY(0);
}

.overlay-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 360px;
    height: 300px;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

/* ===Backdrop=== */

.backdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    overflow: scroll;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -45%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 579px;
    max-width: 408px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    overflow: auto;

    transform: translate(-50%, -45%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 430px) {
    .modal {
       max-height: 80vh;
       width: 90%;
    }
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    color: #000000;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    color: var(--primary-white-color);
}

.modal-icon {
    width: 8px;
    height: 8px;
}

.modal-icon {
    fill: currentColor;
}

.modal-form-box {
    padding: 72px 24px 24px 24px ;
}

.modal-title {
    margin-top: 0px;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}

.form {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 430px) {
    .form {
        width: 100%;
    }
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-form-input {
    height: 40px;
    width: 100%;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-form-input:focus {
    border: 1px solid #4D5AE5;
}

.modal-form-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-textarea {
    width: 360px;
    height: 120px;
    padding-left: 16px;
    padding-top: 8px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

@media screen and (max-width: 430px) {
    .modal-textarea {
        width: 100%;
    }
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.modal-button-send {
    display: block;
    margin: auto;
    margin-top: 24px;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-send:focus,
.modal-button-send:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-icons {
    position: relative;
}

.modal-svg-user {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-phone {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-mail {
    position: absolute;
    width: 15px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .modal-svg-user,
.modal-form-input:focus ~ .modal-svg-phone,
.modal-form-input:focus ~ .modal-svg-mail {
    fill: #4D5AE5;
}

.modal-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-checkbox:checked + .modal-icon-checkbox {
    background-color: #404BBF;
    background-image: url(../img/icon-agree.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-color: #404BBF; 
}

.modal-icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid black;
    border-radius: 2px;

}

.label-checkbox {
    display: flex;
}

.content-checkbox {
    margin: 0;
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.link-checkbox {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-checkbox:hover,
.link-checkbox:focus {
    color: #404BBF;
}

/* ---SUBSRIBE FORM--- */

